// ****** vw + rem 适配移动端 ******
/* stylelint-disable number-max-precision */

// 设计稿宽度
$designWidth: 375;
// 设定 1rem = 100px（当然其他数也可以，1:100 为了方便换算）
$blocks: 100;

// 打开媒体查询模式
$enableMediaQuery: true;

// 适配到桌面端时，展示的视图宽度

$desktopWidth: 600PX;
// 适配到移动端横屏时，展示的视图宽度

$landscapeWidth: 425PX;

// html 根元素的 font-size 定义
@mixin rootFontSize() {
  html {
    // 计算规则：
    // 100vw / 375px = 0.2666667vw，即 0.2666667vw = 1px = 0.2666667%
    // 为便于换算，设定 1rem = 100px, 即 26.66667vw = 100px = 1rem = 26.66667%
    // 也就是 375px = (375px / 100px)rem
    font-size: calc(100vw / $designWidth * $blocks) !important;

    // 宽度定义
    @if $enableMediaQuery {
      @include desktopOrMobileLandscapeWithCenter {
        #app {
          margin-right: auto !important;
          margin-left: auto !important;
        }
      }

      @include desktopOrMobileLandscape {
        & {
          font-size: 666.66667% !important;
        }

        #app {
          max-width: $landscapeWidth !important;
        }
      }

      @include desktop {
        & {
          font-size: 866.66667% !important;
        }

        #app {
          max-width: $desktopWidth !important;
        }
      }
    }
  }
}

// 桌面端或移动端横屏
@mixin desktopOrMobileLandscapeWithCenter {
  @media (min-width: $desktopWidth),
    (orientation: landscape) and (min-width: $landscapeWidth) and (max-width: $desktopWidth) {
    @content;
  }
}

// 桌面端或移动端横屏
@mixin desktopOrMobileLandscape {
  @media (min-width: $desktopWidth) and (max-height: ($desktopWidth + 40)),
    (orientation: landscape) and (min-width: $landscapeWidth) and (max-width: $desktopWidth) {
    @content;
  }
}

// 桌面端
@mixin desktop {
  @media (min-width: $desktopWidth) and (min-height: ($desktopWidth + 40)) {
    @content;
  }
}

@mixin limit-width($fixed: true) {
  @if $enableMediaQuery {
    @if $fixed == false {
      @include desktopOrMobileLandscapeWithCenter {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }

    @include desktopOrMobileLandscape {
      max-width: $landscapeWidth !important;

      @if $fixed == true {
        left: calc(50% - $landscapeWidth / 2) !important;
      }
    }

    @include desktop {
      max-width: $desktopWidth !important;

      @if $fixed == true {
        left: calc(50% - $desktopWidth / 2) !important;
      }
    }
  }
}

// px 转 rem
// 因为设定 1rem = 100px，即 0.01rem = 1px
@function px2rem($px) {
  @return #{calc($px / $blocks)}rem;
}
