@import "./flexible/flexible";
@import "./vant";

// 适配移动端
@include rootFontSize;

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 12PX;
  line-height: 1.5;
  // 避免移动端点击时出现蓝色背景
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  // 避免选中文字时出现蓝色背景
  // -moz-user-select: none;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none;
}

a {
  color: var(--van-cascader-active-color) !important;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  transition: color 0.2s ease;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0;
  outline-width: 0;
}

html.dark {
  &,
  * {
    color-scheme: dark !important;
  }

  body {
    color: var(--van-text-color) !important;
    background-color: #121212;
  }
}

html.light {
  &,
  * {
    color-scheme: light !important;
  }

  body {
    color: var(--van-gray-8) !important;
    background-color: #fcfbfe;
  }
}

// light
.van-theme-light {
  --test-theme-color: blue;
}

// dark
.van-theme-dark {
  --test-theme-color: red;
}
